<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container mt-5">
    <form action="/nuevo" method="post" id="formulario">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo usuario</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" type="text" name="password" id="password" placeholder="Password">
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3 mt-2">Guardar</button>
                <button type="button" class="btn btn-outline-secondary col-12 mb-2">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<%- include("../templates/pie") %>